@page "/Albums"

<div class="flex flex-col items-center rounded-box gap-20 py-20">
    <div class="max-w-screen-xl glass xl:rounded-box grid max-w-screen-xl gap-4 bg-opacity-60 bg-white xl:pb-0 p-10">aaaaaaaaaaaaaaaa</div>
</div>

@code {

}
