@page "/upload"

{
  <div class="bg-base-200 bg-opacity-40 w-full flex flex-col rounded-box gap-10 justify-center content-center
    max-w-screen-xl ">
    <div class="m-12 bg-primary-focus rounded-box w-auto h-auto max-w-screen-xl grid grid-cols-3 grid-rows-2">
      <figure class="col-span-1 row-span-1">
        <img class="rounded-tl-box w-full" src="/static/empty.jpg" alt="Album" />
      </figure>
      <div class="col-span-2 row-span-2 h-auto grid grid-rows-[75%,25%] bg-primary-content rounded-tr-box rounded-br-box ">
        <h5>Song Upload</h5>
        <input type="file" class="file-input file-input-bordered file-input-primary w-full max-w-xs" />
        <input type="file" class="file-input file-input-bordered file-input-primary w-full max-w-xs" />
        <input type="file" class="file-input file-input-bordered file-input-primary w-full max-w-xs" />
      </div>
    </div>
  </div>