<div class="hero min-h-screen bg-base-200 bg-transparent">
    <div class="hero-content text-center">
        <div class="max-w-md">
            <h1 class="text-5xl font-bold">Music Store Ethereum</h1>
            <p class="py-6">
                Provident cupiditate voluptatem et in. Quaerat fugiat ut assumenda excepturi exercitationem
                quasi. In deleniti eaque aut repudiandae et a id nisi.
            </p>
            <button class="btn btn-primary mr-5">Install Metamask</button>
            <button class="btn btn-primary">Buy Music</button>
        </div>
    </div>
</div>