@inherits LayoutComponentBase

<div class="page
        relative
        min-h-screen
        bg-gradient-to-tl
        from-orange-300
        via-rose-400
        to-fuchsia-500
        p-0
        grid
        grid-cols-1
        grid-flow-col
        place-content-center">
    @*<div class="sidebar">
        </div>*@
    <div
        class="navbar z-50 fixed top-0 mt-0 mb-2 ml-0 mr-0 sm:rounded-bl-box sm:rounded-br-box bg-neutral max-h-0 text-secondary max-w-screen-xl">
        <div class="navbar-start">
            <a class="btn btn-ghost normal-case text-xl">MusicStore</a>
        </div>
        <div class="navbar-center">
            <div class="form-control">
                <input type="text" placeholder="Search"
                    class="input input-bordered text-white inline-block w-full sm:w-0 sm:hidden bg-neutral-focus" />
            </div>
        </div>
        <div class="navbar-end">
            <div class="flex flex-row flex-nowrap gap-2">
                <div class="form-control">
                    <input type="text" placeholder="Search"
                        class="input input-bordered text-white hidden w-0 sm:inline-block sm:w-full bg-neutral-focus" />
                </div>
                <a class="btn btn-secondary">Get started</a>
            </div>
        </div>
    </div>
    @* align-center flex flex-col flex-wrap justify-center content-center *@

    @* <div class="form-control">
        <input type="text" placeholder="Search" class="input input-bordered text-white w-full bg-neutral-focus" />
        </div> *@

    <div class="p-6 pt-0">
        @*<div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
            </div>*@

        <div class="align-center">
            @Body
        </div>
    </div>
</div>
