@inherits LayoutComponentBase

<div class="page
        relative
        flex
        min-h-screen
        flex-col
        justify-center
        overflow-hidden
        bg-gradient-to-tl
        from-orange-300
        via-rose-400
        to-fuchsia-500
        p-0">
    @*<div class="sidebar">
    </div>*@

    <div class="main">
        @*<div class="top-row px-4">
            <a href="http://blazor.net" target="_blank" class="ml-md-auto">About</a>
        </div>*@

        <div class="content px-4">
            @Body
        </div>
    </div>
</div>
